h2
{
	font-family:sans-serif;
	color:#cc9933;
}

p
{
	font-family:sans-serif;
	color:#771144;
}

.color0player
{
	color:red;
	background-color:red;
}

.color0computer
{
	color:green;
	background-color:green;
}

ul
{
	margin-top:40px;
	padding-left:10px;
}

li
{
	display:inline;
	background-color:#333333;
	color:#cccccc;
	font-family:sans-serif;
	font-size:12px;
	padding:10px;
	margin:8px;
}

td
{
	color:white;
}

#top
{
	background-color:#333333;
	border-color:white;
	border-spacing:0px;
	color:#cccccc;
	font-family:sans-serif;
	font-size:12px;
}

#top td
{
	border-width:1px;
	border-bottom-width:5px;
	border-left-width:7px;
	border-color:white;
	border-style:solid;
	color:#cccccc;
	padding-bottom:8px;
	padding-top:12px;
	background-color:#333333;
}

#field
{
	border-color:#666666;
	border-style:solid;
	border-spacing:0px;
	color:#666666;
}

#field td
{
	border-color:#666666;
	border-width:10px;
	border-style:solid;
}

.bottom li
{
	background-color:#443344;
	color:#aaccbb;
}

